@{
    ViewBag.Title = "Home Page";
}



<div class="containerVignetteDetails">
    <div class="vignetteDetails listePoke">
        <div class="vignetteTitle flex">
            <h2>Liste Pokémons</h2>

        </div>
        <div class="vignetteRow">

            <div id="content">
                @foreach (PokeListe.Models.Models.PokemonView pokemon in Model)
                {
                    <div class="vignette">
                        <a href="~/Home/Get/@pokemon.IdPokemon">
                            <div>
                                <img src="~/Content/Img/pokedex/@pokemon.Img" />
                            </div>
                            <div>
                                <span>@pokemon.Numero</span>
                                <h4>@pokemon.Nom</h4>
                            </div>
                        </a>
                        @foreach (PokeListe.Models.Models.TypeViewSimple type in pokemon.Types)
                        {
                            <a href="~/Home/GetType/@type.IdType">
                                <img src="~/Content/Img/type/@type.Img" />
                            </a>
                        }
                        @if (PokeListe.Session.SessionUtils.ConnectedUser.ListePoke.Contains(pokemon.IdPokemon))
                        {
                            <button class="btn btn-primary delPoke actionPoke" value="@pokemon.IdPokemon">Enlever</button>
                        }
                        else
                        {
                            <button class="btn btn-danger addPoke actionPoke" value="@pokemon.IdPokemon">Ajouter</button>
                        }


                    </div>
                }

            </div>
        </div>
    </div>
    <div class="vignetteDetails filter">
        <div class="vignetteTitle flex">
            <h2>Filter</h2>
        </div>
        <div class="vignetteRowStat flex">
            <a href="~/Home/">Tous</a>
        </div>
        @foreach (PokeListe.Models.Models.TypeViewSimple type in PokeListe.Session.SessionUtils.listTypes)
        {
            <div class="vignetteRowStat flex">
                <a href="~/Home/FilterByType/@type.IdType">
                    <img src="~/Content/Img/type/@type.Img" />
                </a>

            </div>

        }

    </div>
</div>
            @section scripts
{
                @Scripts.Render("~/bundles/addPoke")
            }

