
@{
    ViewBag.Title = "Index";
}

<h2>@PokeListe.Session.SessionUtils.ConnectedUser.Pseudo</h2>


<img src="~/Content/Img/Utilisateurs/@PokeListe.Session.SessionUtils.ConnectedUser.Img" />
<p>@PokeListe.Session.SessionUtils.ConnectedUser.Email</p>

<a href="/Utilisateur/Home/Update">Modifier mon profil</a>

<div class="row">
    <table>
        <thead>
            <tr>
                <th>Img</th>
                <th>Nom</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody id="listePoke">
            @foreach (PokeListe.Models.Models.PokemonView pokemon in Model)
            {
                <tr>
                    <td>
                        <a href="~/Home/Get/@pokemon.IdPokemon">
                            <img src="~/Content/Img/pokedex/@pokemon.Img" />
                        </a>
                    </td>
                    <td>@pokemon.Nom</td>
                    <td>
                        @foreach (PokeListe.Models.Models.TypeViewSimple type in pokemon.Types)
                        {
                            <a href="~/Home/GetType/@type.IdType">
                                <img src="~/Content/Img/type/@type.Img" />
                            </a>
                        }
                    </td>
                    <td><button class="btn btn-primary delPoke actionPoke" value="@pokemon.IdPokemon">Supprimer</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/delFromProfil")
}

