@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="containerVignetteDetails">
        <div class="vignetteDetails">
            <div class="vignetteTitle flex">
                <h2>N°@Model.Numero</h2>
                <h2>@Model.Nom</h2>
                <img height="58" src="~/Content/Img/pokedex/@Model.Img">
            </div>
            <div class="vignetteRow">
                <h4>Description</h4>
                <p>@Model.Description</p>
            </div>
            <div class="vignetteRow">
                <h4>Obtention</h4>
                <p>@Model.Obtention</p>
                @foreach(PokeListe.Models.Models.LocalisationViewSimple loc in Model.Localisations)
                {
                    <a href="~/Home/GetLoc/@loc.IdLocalisation">
                        @loc.Nom
                    </a>
                }
            </div>
            <div class="vignetteRow flex">
                <h4>Type</h4>
                @foreach (PokeListe.Models.Models.TypeViewSimple type in Model.Types)
                {
                    <a href="~/Home/GetType/@type.IdType">
                        <img height="15" src="~/Content/Img/type/@type.Img" />
                    </a>
                }
            </div>
            <div class="vignetteRow">
                @if (PokeListe.Session.SessionUtils.IsConnected)
                {
                    if (PokeListe.Session.SessionUtils.ConnectedUser.ListePoke.Contains(Model.IdPokemon))
                    {
                        <button class="btn btn-primary delPoke actionPoke" value="@Model.IdPokemon">Enlever</button>
                    }
                    else
                    {
                        <button class="btn btn-danger addPoke actionPoke" value="@Model.IdPokemon">Ajouter</button>
                    }
                }
            </div>
        </div>

        <div class="vignetteDetails stats">
            <div class="vignetteTitle flex">
                <h2>Stats</h2>
            </div>
            <div class="vignetteRowStat flex">
                <h4>Point de vie</h4>
                <p>@Model.Stat.Hp</p>
            </div>
            <div class="vignetteRowStat flex">
                <h4>Atk</h4>
                <p>@Model.Stat.Atk</p>
            </div>
            <div class="vignetteRowStat flex">
                <h4>Défense</h4>
                <p>@Model.Stat.Def</p>
            </div>
            <div class="vignetteRowStat flex">
                <h4>Atk Spé</h4>
                <p>@Model.Stat.AtkSpe</p>
            </div>
            <div class="vignetteRowStat flex">
                <h4>Déf Spé</h4>
                <p>@Model.Stat.DefSpe</p>
            </div>
            <div class="vignetteRowStat flex">
                <h4>Vitesse</h4>
                <p>@Model.Stat.Vit</p>
            </div>
        </div>
    </div>

</div>

@section scripts
{
    @Scripts.Render("~/bundles/addPoke")
}
