﻿
@{
    ViewBag.Title = "Login";
}

@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-info">
        @ViewBag.SuccessMessage
    </div>
}


<h2>Log In</h2></br>
<form method="post" action="/Home/Login">
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="Email" /></br>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="Mdp" /></br>
    </div>
        <button class="btn btn-primary" type="submit">Envoyer</button></br></br>
        @if (@ViewBag.ErrorLoginMessage != null)
        {

            <center>
                <p class="alert alert-danger">@Html.Raw(ViewBag.ErrorLoginMessage)</p>
            </center>
        }

</form>


<h2>Sign Up</h2></br>
<form method="post" action="/Home/Register" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label>Pseudo</label>
        <input type="text" class="form-control" name="Pseudo" /></br>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="Email" /></br>
    </div>
    <div class="form-group">
        <label>Mot de passe</label>
        <input type="password" class="form-control" name="Mdp" /></br>
    </div>
    <div class="form-group">
        <label>Confirmer le password</label>
        <input type="password" class="form-control" name="ConfirmMdp" /></br>
    </div>
    <div class="form-group">
        <input type="file" class="form-control" name="file" id="file"></br>
    </div>
    <button class="btn btn-primary" type="submit">Envoyer</button>
        @if (@ViewBag.ErrorMessage != null)
        {

            <center>
                <p class="alert alert-danger">@Html.Raw(ViewBag.ErrorMessage)</p>
            </center>
        }
</form>